$element-size: calc((75vw - ((0.23vw * 34) + 10px)) / 18);
$non-matel: #4BC42F;
$non-metal-dark: #03a9f4;
$alkal-metal: #E8593D;
$alkal-metal-dark: #f44336;
$alkaline-metal: #F2A000;
$alkaline-metal-dark:#ff9800;
$transition-metal: #F2C201;
$transition-metal-dark: #efbb31;
$metaloid: #BBC42F;
$metal-dark: #673ab7;
$metal: #31BBA0;
$metaloid-dark: #19caa7;
$halojen: #22B6E0;
$halojen-dark: #f06292;
$soygaz: #2089FF;
$soygaz-dark: #00bcd4;
$lantanit: #D887D9;
$lantanit-dark: #8bc34a;
$actinide: #B186D9;
$actinide-dark: #cddc39;